@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    overflow: scroll;
}

.container{
    width: 20%;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    min-height: fit-content;
}

.qrcode img{
    width: 100%;
    border-radius: 15px;
}

.description{
    padding: 20px;
    text-align: center;
}

.description h1{
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}

.description p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

@media only screen and (max-width:800px){
    .container{
        width: 60%;
    }
}

@media only screen and (max-width:500px){
    .container{
        width: 80%;
    }
}